body {
  font-family: "Source Sans Pro regular", sans-serif;
}
body, body html {
  padding: 0;
  margin: 0;
}
body > * {
  width: 100%;
}

.header__adaptive-arrow {
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background: #fff;
  border-bottom: 1px solid #eceaed;
  z-index: 11;
  cursor: pointer;
  font-size: 16px;
  color: #cbcacb;
}
.header__topbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eceaed;
  width: 100%;
  padding: 0 3%;
  box-sizing: border-box;
}
.header__topbar a {
  text-decoration: none;
  color: #000;
}
.header__topbar__favourite {
  position: relative;
}
.header__topbar__favourite__counter {
  position: absolute;
  right: -15px;
  background: #c1a067;
  color: #fff;
  width: 15px;
  height: 15px;
  font-size: 10px;
  top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50%;
}
.header__topbar_right {
  width: 28%;
}
.header__topbar__list {
  width: 70%;
}
.header__topbar__list__inner {
  padding: 0;
  list-style: none;
}
.header__topbar__list__inner__item {
  display: inline-block;
  margin-right: 20px;
}
.header__topbar_small {
  width: 49%;
  display: inline-block;
  text-align: center;
  border-left: 1px solid #eceaed;
}
.header__topbar_small span {
  margin: 16px 0;
  display: block;
}
.header__topbar_right {
  text-align: right;
  width: 35%;
}
.header__content {
  display: flex;
  padding: 10px 3%;
  justify-content: space-between;
}
.header__content_left__logo {
  float: left;
  margin: 0;
}
.header__content_center {
  width: 59%;
}
.header__content_center__form {
  position: relative;
  margin-top: 10px;
}
.header__content_center__form__input {
  border: 0;
  outline: none;
  font-size: 18px;
  padding: 20px 0;
  width: 100%;
}
.header__content_center__form__button {
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  outline: none;
  background: 0;
  border: 0;
  color: #c1a067;
}
.header__content_center__list {
  padding: 0;
  font-weight: bold;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}
.header__content_center__list i {
  color: #c1a067;
}
.header__content_right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__content_right a {
  color: #fff;
  text-decoration: none;
}
.header__content_right__cart {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #c1a067;
  color: #fff;
  font-size: 55px;
  position: relative;
}
.header__content_right__cart__counter {
  position: absolute;
  font-size: 14px;
  right: 10px;
  top: 10px;
}
.header__content_small {
  width: 19%;
  align-items: center;
  display: flex;
}
.header__content_small_right {
  justify-content: flex-end;
}

.element_bold {
  font-weight: bold;
}
.element_underlined {
  box-shadow: inset 0 -2px #c1a067;
}
.element_underlined-hover {
  transition: border, 1s;
}
.element_underlined-hover_a {
  transition: border, 1s;
}
.element_underlined-hover_a:hover {
  box-shadow: inset 0 -2px #c1a067;
}
.element_underlined-hover:hover {
  box-shadow: inset 0 -2px #c1a067;
}

.bg-white {
  background: #ffffff;
}
.bg-gray {
  background: #f9f9f9;
}
.bg-dark {
  background: #302a31;
}
.bg-pink {
  background: #c16774;
}

.nav__adaptive-bars {
  display: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 5;
  position: fixed;
  top: 15px;
  right: 15px;
}
.nav__list {
  list-style: none;
  color: #fff;
  position: relative;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list a {
  color: #fff;
  text-decoration: none;
}
.nav__list__item-wrapper {
  display: block;
  box-sizing: border-box;
  padding: 15px 0;
  position: relative;
}
.nav__list__item-wrapper:last-child {
  padding: 15px 3%;
  text-align: center;
}
.nav__list__item-wrapper:hover .nested-list {
  display: block;
}
.nav__list__item-wrapper__nested-list {
  display: none;
  width: max-content;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;
  padding: 30px;
  background: #fff;
  box-shadow: 0 10px 15px -5px #d2d2d2;
  color: #000;
  list-style: none;
}
.nav__list__item-wrapper__nested-list__item:not(:last-child) {
  margin-bottom: 10px;
}
.nav__list__item-wrapper__nested-list a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.color-white {
  color: #ffffff !important;
}
.color-gray {
  color: #cbcacb !important;
}
.color-green {
  color: #65bc54 !important;
}
.color-violet {
  color: #8456a5 !important;
}
.color-pink {
  color: #c16774 !important;
}
.color-pink-hover {
  transition: color, 0.3s;
}
.color-pink-hover:hover {
  color: #c16774 !important;
}
.color-pink-hover_a a {
  transition: color, 0.3s;
}
.color-pink-hover_a:hover a {
  color: #c16774 !important;
}
.color-gold {
  color: #c1a067 !important;
}
.color-gold-hover {
  transition: color, 0.3s;
}
.color-gold-hover:hover {
  color: #c1a067 !important;
}
.color-gold-hover_a a {
  transition: color, 0.3s;
}
.color-gold-hover_a:hover a {
  color: #c1a067 !important;
}

.main {
  padding: 0 3%;
  box-sizing: border-box;
  margin-top: 40px;
}
.main > * {
  margin: 20px 0;
}
.main__special__title {
  width: 230px !important;
}
.main__brands {
  margin: 100px 0 0 !important;
}
.main__news-articles {
  margin: 0 0 100px !important;
}
.main__preview {
  width: 100%;
}
.main__preview > * {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.main__preview_left {
  width: 15%;
}
.main__preview_left__text {
  position: absolute;
  z-index: 2;
  top: 180px;
  left: 0;
  font-weight: bold;
  font-size: 49px;
  text-transform: uppercase;
  width: 560px;
}
.main__preview_left__details {
  padding: 15px 0;
  margin-top: 350px;
}
.main__preview_right {
  width: 84%;
  margin-left: -4px;
}
.main__preview_right__recommendation-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 320px;
  padding-bottom: 20px;
  height: 100%;
  z-index: -1;
}
.main__preview_right__recommendation-wrapper {
  position: absolute;
  top: -20px;
  right: -29px;
  padding: 30px 0 0 30px;
  z-index: 2;
}
.main__preview_right__recommendation-wrapper h2 {
  width: 100%;
  margin: 0;
  padding: 20px 30px 20px 0;
  display: block;
}
.main__preview_right__recommendation-wrapper__list {
  list-style: none;
  padding: 0;
  margin: 30px 0 0;
}
.main__preview_right__recommendation-wrapper__list__item {
  margin-bottom: 15px;
}
.main__preview_right__recommendation-wrapper__list__item a {
  color: #000;
  text-decoration: none;
}
.main__preview_right__slider-inner {
  width: 5000px;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}
.main__preview_right__slider-inner__item {
  position: relative;
  width: 1200px;
}
.main__preview_right__slider-inner__item img:not(.slider-product) {
  width: 100%;
  height: 530px;
}
.main__preview_right__slider-inner__item img {
  pointer-events: none;
}
.main__preview_right__slider-inner__item figure {
  position: absolute;
  top: 90px;
  left: 480px;
}
.main__preview_right__slider-inner__item figure figcaption {
  display: inline-block;
  margin: 0 0 40px 40px;
  vertical-align: bottom;
}
.main__preview_right__slider-wrapper {
  position: relative;
  height: 530px;
  width: 1200px;
  overflow: hidden;
}
.main__preview_right__slider-wrapper__points-wrapper {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2;
}
.main__preview_right__slider-wrapper__points-wrapper__item {
  width: 7px;
  height: 7px;
  cursor: pointer;
  border: 2px solid #c1a067;
  display: inline-block;
  margin-right: 20px;
}
.main__preview_right__slider-wrapper__points-wrapper__item_active {
  background: #c1a067;
}
.main__info__list {
  list-style: none;
  padding: 0;
  margin: 30px 0 0;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-around;
}
.main__info__list__item {
  margin: 0 20px 0 160px;
  width: 160px;
  position: relative;
}
.main__info__list__item:before {
  content: "";
  position: absolute;
  top: 35%;
  left: -100%;
  width: 100px;
  height: 1px;
  background: #eceaed;
}
.main__template {
  margin: 100px 0;
}
.main__template_small__brands-wrapper {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main__template__under-title {
  display: block;
  font-size: 13px;
  margin: 20px auto;
  text-transform: lowercase;
  width: max-content;
  text-align: center;
}
.main__template__title {
  text-align: center;
  padding: 20px 50px;
  width: max-content;
  margin: 0 auto;
  display: block;
  text-transform: uppercase;
}
.main__template__slider-border {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.main__template__slider-wrapper {
  height: 350px;
  width: 89%;
  overflow: hidden;
}
.main__template__slider-wrapper_small {
  margin-top: 50px;
}
.main__template__slider-wrapper__arrow {
  width: 3%;
  display: inline-block;
  vertical-align: top;
  margin-top: 160px;
  height: max-content;
  cursor: pointer;
  color: #ebeaea;
  transition: color, 0.5s;
}
.main__template__slider-wrapper__arrow_small {
  margin-top: 140px;
}
.main__template__slider-wrapper__arrow:hover {
  color: #c1a067;
}
.main__template__slider-wrapper__arrow-right {
  text-align: right;
}
.main__template__slider-inner {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}
.main__template__slider-inner a {
  text-decoration: none;
}
.main__template__slider-inner_small__item__element {
  width: 280px;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-size: 15px;
}
.main__template__slider-inner__item {
  color: #302a31;
  width: 260px;
  padding: 0 35px;
  font-size: 13px;
  text-align: center;
  position: relative;
}
.main__template__slider-inner__item__sticker {
  text-transform: uppercase;
  top: 0;
  left: 0;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  position: absolute;
}
.main__template__slider-inner__item__img {
  width: 260px;
  text-align: center;
  height: 236px;
}
.main__template__slider-inner__item img {
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: contain;
}
.main__template__slider-inner__item > * {
  margin-bottom: 6px;
}
.main__template__slider-inner__item__name {
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
}
.main__template__slider-inner__item__price {
  color: #000;
}
.main__template__slider-inner__item__price__discount {
  text-decoration: line-through;
}
.main__template__slider-inner__item:not(:first-child) {
  border-left: 1px solid #eceaed;
}
.main__news-articles__wrapper {
  display: flex;
  justify-content: space-between;
}
.main__news-articles__wrapper__other {
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  width: max-content;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
}
.main__news-articles__wrapper__list {
  list-style: none;
}
.main__news-articles__wrapper__list__item {
  border-bottom: 1px solid #eceaed;
  margin-bottom: 30px;
  padding-bottom: 15px;
}
.main__news-articles__wrapper__list__item__title {
  text-transform: uppercase;
}
.main__news-articles__wrapper__list__item__date {
  font-size: 14px;
  margin-top: 20px;
}
.main__news-articles__wrapper__list__item__description {
  margin-top: 20px;
  font-size: 13px;
}
.main__news-articles__wrapper_left {
  width: 46%;
}
.main__news-articles__wrapper_right {
  width: 49%;
  position: relative;
}
.main__news-articles__wrapper_right__bg {
  position: absolute;
  top: -70px;
  left: -5px;
  height: 115%;
  width: 104%;
  z-index: -2;
}
.main__news-articles__wrapper_right .info-block {
  float: right;
}
.main__news-articles__wrapper_right__list__item {
  clear: both;
  position: relative;
  height: 190px;
  border: 0;
}
.main__news-articles__wrapper_right__list__item__title {
  margin-top: 30px;
}
.main__news-articles__wrapper_right__list__item:nth-child(2) figure {
  right: 0;
  left: unset;
}
.main__news-articles__wrapper_right__list__item:nth-child(2) .info-block {
  float: left;
}
.main__news-articles__wrapper_right__list__item__info {
  float: left;
  width: 57%;
}
.main__news-articles__wrapper_right__list__item__img {
  width: 270px;
  height: 190px;
  background: #fff;
  margin: 0;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}
.main__news-articles__wrapper_right__list__item__img img {
  width: 100%;
  float: left;
  height: 100%;
  object-fit: cover;
}

.footer {
  color: #fff;
  padding: 30px 3%;
  box-sizing: border-box;
}
.footer a {
  color: #cbcacb;
  text-decoration: none;
}
.footer_top__circle {
  border-radius: 50%;
  width: 30px;
  color: #C61BCC;
  display: inline-flex;
  margin-right: 20px;
  justify-content: space-around;
  font-size: 18px;
  align-items: center;
  height: 30px;
}
.footer_top__input {
  width: 100%;
  color: #fff;
  padding: 10px 0;
}
.footer_top__input, .footer_top__button {
  background: none;
  outline: none;
  display: block;
  border: none;
}
.footer_top__button {
  float: right;
  margin-top: 20px;
}
.footer_top__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer_top__wrapper h2 {
  text-transform: uppercase;
  font-size: 18px;
}
.footer_top__wrapper__item {
  padding: 0;
  font-size: 14px;
  width: 20%;
  list-style: none;
}
.footer_top__wrapper__item__icon {
  font-size: 24px;
  display: inline-block;
  margin-left: 10px;
}
.footer_top__wrapper__item__text {
  margin-left: 10px;
  display: inline-block;
}
.footer_top__wrapper__item:last-child ul li:last-child {
  clear: both;
  margin-top: 70px;
}
.footer_top__wrapper__item ul {
  list-style: none;
  padding: 0;
}
.footer_top__wrapper__item ul li {
  margin-top: 10px;
}
.footer_down__wrapper {
  border-top: 1px solid #3f3a41;
  display: flex;
  justify-content: space-between;
  padding: 35px 0 20px;
}

/*# sourceMappingURL=main.css.map */
